<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/basicstyle.css">
    <title>The Incredible Spotify Artist Info Finder</title>>
</head>
    <body>
        <a href="/">GO HOME NOW PLEASE</a>
        <form action="/{{ name }}" method="get">
            <input type="text" name="query" placeholder="Search for a artist...">
            <input type="submit" name="query" value="Search">
        </form>
        Welcome to the website.

        <h2>Spotify Artist Info Finder!</h2>
        <p>(If we had more time, we'd have made the search bar work... And a random generator... And to post your own artists... But we ran out of time. Sorry, blame Docker!)</p>
    </body>
</html>